**/classes
**/target
**/.cpcache
**/tmp
.idea/
.calva/
bases/vanilla/resources/public/js/
bases/rccst/resources/public/js/
bases/pistachio/resources/public/js/
bases/p2/resources/public/js/
.shadow-cljs/
.lsp/
node_modules/
*.iml
**/meta.clj
.nrepl-port
vanilla_db
log/
lsp/


components/metaversion/src/rocky_road/metaversion/rocky_road.clj

**/projects/**/resources/events
**/projects/**/resources/channels
**/projects/**/resources/views
**/projects/**/resources/logback.xml
**/projects/**/log/*

**/projects/vanilla/resources/*
**/projects/rccst/resources/*
**/projects/pistachio/resources/*
**/projects/p2/resources/*
**/projects/k-vanilla/resources/*
**/identities/*.edn

/.clerk/
/.clj-kondo/
/out/
/bases/rccst/out/
/bases/pistachio/out/
/bases/p2/out/

