
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.center-text{
 text-align: center;
}

.h-w-100pc{
   height: 100%;
   width: 100%;
}


.default-card{
   width: 100%;
   height: 100%;
   margin: auto;
   overflow: hidden;
   background: #9CA8B3;
}

.img-flippable-default-card{
   width: 100%;
   height: 100%;
   overflow: hidden;
   background: #9CA8B3;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   display: flex;
}

.chart-panel{
   width: 40%;
   height: 100%;
}

.chart-content{
 width: 60%;
 height: 100%;
}

.chart-config-panel{
   padding: 15px;
   background: #f7f7f7;
   border-top: 1px solid #DDD;
}

.img-bg-size{
 background-size: contain;
}

.img-style{
   width: 75px;
   height: 75px;
   margin-left: auto;
   margin-right: auto;
   display: block;
}

.component-panel{
   width: 400px;
   height: 500px;
}

bhui-thead{
   position: sticky;
   top: 0;
   background: darkslategray;
}

.draggable-node{
   width: 150px;
   height: 50px;
   margin-bottom: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: grab;
   border-radius: 3px;
   padding: 2px;
}

.coverage-plan-table-container{
   width: 100%;
   height: 100%;
   overflow-y: auto;
   white-space: nowrap;
   border: 1px outset gray;
}

.coverage-plan-thead{
   position: sticky;
   top: 0;
   background: lightgray;
}

.config-panel{
   width: 100%;
   height: 90%;
   margin: 10px;
   padding: 5px;
   background: #fff8dc;
   box-shadow: 5px 5px 5px #888888;
}

.globe-container{
   width: 500px;
   height: 500px;
}

.slider-label-container{
   width: 300px;
   height: 100px;
}

.selectable-table-container{
   width: 300px;
   height: 200px;
}

.widget-content-container{
   width: 100%;
   height: 100%;
   background: #faeee8;
}

.widget.widget-content{
    width: 100%;
    height: 90%;
    cursor: default;
    align-items: stretch;
    display: flex;
}

.editable-container{
   display: inline-block;
   vertical-align: middle;
   width: 195px;
   height: 30px;
}

.cell-input{
   display: inline-block;
   vertical-align: middle;
}

.cell-input-btn{
   display: inline-block;
   vertical-align: middle;
   padding: 2px;
}

.header-row{
   display: inline-block;
   text-align: center;
}

.cell-span{
   position: static;
   border-radius: 2px;
   border: solid grey 2px;
   vertical-align: middle;
   display: inline-block;
   text-align: center;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   color: black;
   cursor: pointer;
}

.symbol-td{
   color: white;
   text-align: center;
}

.sensor-color-td{
    background-color: transparent;
    border-width: 1px;
    text-align: center;
    width: 100px;
}

.ui-element{
   width: 200px;
   margin: auto;
}

.molecule-content{
   width: 100%;
   min-height: 400px;
}

.header-bar{
   background-color: lightgray;
   border: solid;
   border-width: 5px;
   border-color: blue;
   padding: 10px;
}

.tools-panel{
   border: 1px solid;
   border-radius: 3px;
   box-shadow: 5px 5px 5px 2px;
   margin: 5px;
   padding: 5px;
}

#event-container{
   width: 20%;
   height: 200px;
   margin-right: 20px;
   padding: 20px;
   border: 2px solid #ccc;
   background: #eee;
}

.fc-event-title{
 margin-left: 7px;
}

.external-event{
 margin-top: 10px;
 margin-bottom: 10px;
 padding: 5px;
 color: white;
}